body{
	background-color: #A6EAF0;
}
ul{
	display: inline-block;
	list-style: none;
	background-color:#645E5E ;
	text-align: center;
}
li{
	width: 200px;
	height: 50px;
	display: block;
	float: left;
	border: none;
	border-right: 1px solid #F1EDED;
	position: relative;
	text-align: center;
}
a{
	

	display: block;
	color: white;
	text-decoration: none;
}
.submenu{
	display: none;
	

}
li:hover > .submenu{
	display: inline-block;
	
}
.menu{
	float: left;
	display: inline-block;
	position: relative;
}
